*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.border-box{
    border: solid 1px;
}


.contacts {
    width: 150px;
    height: 100px;
    overflow-y: scroll;
}

.sticky{
    position: sticky;
    top: -1px;
    background-color: lightslategray;
}